body {
  font-family: Montserrat;
}

.hero h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3rem;
}

.hero p {
  font-family: PT Serif;
  font-size: 1.4rem;
}

.hero img {
  height: 100vh;
}

.navbar {
  padding: 10px 0;
}

.latest {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.check {
  border: 2px solid #000;
}

.svg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.svg1 {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 40%;
  height: 40%;
  opacity: 0.5;
}

.svg2 {
  position: absolute;
  bottom: 80px;
  right: 20px;
  width: 40%;
  height: 40%;
  opacity: 0.5;
}

.latest h2 {
  font-family: Montserrat;
}

.image-container {
  background: #fff none repeat scroll 0 0;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.image-title {
  color: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  bottom: -100px;
  transition: .4s;
}

.image-title h5 {
  background: rgba(255, 67, 1, 0.8);
  color: #fff;
  line-height: 35px;
  padding: 8px 40px;
  font-family: cursive;
}

.image-container:hover .image-title {
  bottom: 0;
}

.cta {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.marketing {
  width: 70%;
}

.wa-button {
  cursor: pointer;
  font-size: 2em;
  color: green;
}

.feature {
  min-height: 500px;
}





@media (max-width: 992px) {
  .hero h3 {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .hero h3 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .hero h3 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .svg-wrapper svg {
    opacity: 0.2;
  }
}

@media only screen and (max-width: 576px) {
  .svg-wrapper {
    display: none;
  }
}