body {
  font-family: Montserrat;
}

.hero h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3rem;
}

.hero p {
  font-family: PT Serif;
  font-size: 1.4rem;
}

.hero img {
  height: 100vh;
}

.navbar {
  padding: 10px 0;
}

.latest {
  padding-top: 30px;
  text-align: center;
}

.latest img {
  width: 350px;
  height: 250px;
  padding: 20px 0;
}









@media (max-width: 992px) {
  .hero h3 {
    font-size: 2.5rem;
  }
  .hero p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .hero h3 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}


@media (max-width: 576px) {
  .hero h3 {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 0.8rem;
  }
}
